@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-fade::before,
.marquee-fade::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3rem;
  pointer-events: none;
}
.marquee-fade::before {
  left: 0;
  background: linear-gradient(90deg, rgba(2, 6, 23, 1) 0%, rgba(2, 6, 23, 0) 100%);
}
.marquee-fade::after {
  right: 0;
  background: linear-gradient(270deg, rgba(2, 6, 23, 1) 0%, rgba(2, 6, 23, 0) 100%);
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
